.flex{
  display: flex;
  width: 100%;
}

.column{
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.editor-container, .preview-container{
  max-height: 100%;
  opacity: 1;
  transition: opacity 0.2s, max-height 0.2s;
}

.editorTA{
  width: 600px;
  min-height: 200px;
  border: 1px solid black;
  padding: 16px;
  border-radius: 0 0 5px 5px;
  transition: min-height 0.5s;
}

.editor-toolbar{
  width: 600px;
  border: 1px solid black;
  margin-top: 20px;
  padding: 16px;
  align-items: center;
  border-radius: 5px 5px 0 0;
  background-color: white;
}

.editor-toolbar .fa-arrows-alt, .editor-toolbar .fa-compress{
  margin-left: auto;
  cursor: pointer;
}

.editor-toolbar .fa-arrows-alt{
  margin-left: auto;
  cursor: pointer;
}

.editor-toolbar .fa-arrows-alt:hover, .editor-toolbar .fa-compress:hover{
  color: grey;
}

.editor-toolbar .fa-free-code-camp{
  margin-right: 5px;
}

.preview-toolbar{
  width: 800px;
  border: 1px solid black;
  margin-top: 20px;
  padding: 16px;
  align-items: center;
  border-radius: 5px 5px 0 0;
  background-color: white;
}

.preview-toolbar .fa-arrows-alt, .preview-toolbar .fa-compress{
  margin-left: auto;
  cursor: pointer;
}

.preview-toolbar .fa-arrows-alt:hover, .preview-toolbar .fa-compress:hover{
  color: grey;
}

.preview-toolbar .fa-free-code-camp{
  margin-right: 5px;
}

.preview-box{
  width: 800px;
  min-height: 200px;
  border: 1px solid black;
  padding: 16px;
  border-radius: 0 0 5px 5px;
  background-color: white;
  transition: min-height 0.5s;
  margin-bottom: 16px;
}

.hidden{
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: visibility 0s 0.2s, opacity 0.2s, max-height 0.2s;
}

.expand{
  min-height: 100vh;
  margin-bottom: 16px;
  transition: min-height 0.5s;
}